.klein {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.mittel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.gross {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
